page-new-record {
  ion-select {
    margin: 0 !important;
    max-width: 100% !important;
  }

  ion-item{
    padding-left: 0 !important;
  }

  .setPrice {
    position: relative;

    ion-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      font-size: 22px;
      color: #009688;
    }
  }

  div.add {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 27px;
    border-radius: 100%;
    background: linear-gradient(to bottom, #05d6e0 0%,#04a7f7 100%);
    width: 50px;
    height: 50px;
    display: table;
    box-shadow: 0 3px 10px 1px rgba(0, 0, 0, 0.29);

    &:active{
      transform: translateX(-50%) scale(1.2);
    }

    svg {
      width: 30px;
      height: 30px;
      position: absolute;
      bottom: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      left: 50%;
    }
  }
}
